body {
	background: #fff url(image/bg.jpg) repeat;
	margin: 0px;
}

.top {
	height: 24px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 9999;
}