.icon {
	padding: 2px 9px;
	background: url('icons/tabicons.png') no-repeat;
}

.icon-sys {
	background: url('icons/directory.png') no-repeat center;
}

.icon-nav {
	background-position: -100px -18px;
}

.icon-signout {
	background: url('icons/signout.png') no-repeat center;
}