<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/icon.css">

</head>
<body class="easyui-layout">
<!-- 	<div data-options="region:'north',split:true" style="height: 50px"></div> -->
<!-- 	<div data-options="region:'south',split:true" style="height: 50px;"></div> -->
<!-- 	<div data-options="region:'west',split:true" style="width: 100px;"></div> -->
<!-- 	<div data-options="region:'center',split:true"></div> -->
</body>

<script type="text/javascript" src="/web/core/resource/jquery-3.0.0/jquery-3.0.0.js"></script>

<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/web/script/admin/layout.js"></script>
</html>