<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" type="text/css" href="/web/style/admin/admin.css">
<link rel="stylesheet" type="text/css" href="/web/style/admin/accordion.css">
<link rel="stylesheet" type="text/css" href="/web/style/admin/icon.css">

<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/metro-gray/easyui.css">
<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/icon.css">

</head>
<body>
</body>

<script type="text/javascript" src="/web/core/resource/jquery-3.0.0/jquery-3.0.0.js"></script>

<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/web/script/admin/app.js"></script>
<script type="text/javascript" src="/web/script/admin/layout.js"></script>
<script type="text/javascript" src="/web/script/admin/accordion.js"></script>
<script type="text/javascript" src="/web/script/admin/tabs.js"></script>
</html>