<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>

<link rel="shortcut icon" href="/web/style/favicon.ico">

<link rel="stylesheet" type="text/css" href="/web/style/login/app.css">

<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/material/easyui.css">
<link rel="stylesheet" type="text/css" href="/web/core/resource/jquery-easyui-1.4.5/themes/icon.css">

</head>

<body>

	<div class="top"></div>
	<div id="login"></div>

</body>

<script type="text/javascript" src="/web/core/resource/jquery-3.0.0/jquery-3.0.0.js"></script>

<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/web/core/resource/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/web/script/login/app.js"></script>
<script type="text/javascript" src="/web/script/login/dialog.js"></script>
<script type="text/javascript" src="/web/script/login/form.js"></script>

</html>